# Lapiz codebase style - 4 spaces, K&R braces
BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

# Allman style: opening brace on next line
BreakBeforeBraces: Allman

# Align with existing style
ColumnLimit: 250
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never

# Pointer alignment
PointerAlignment: Right

# Include sorting
SortIncludes: false

# ObjC
